.getStarted {
  border-radius: 25px;
  font-size: 16px;
  width: 100%;
  background-color: rgb(67, 205, 102);
  color: rgb(16, 57, 40);
  font-family: Helvetica, Arial, sans-serif;
  margin-right: 2rem;
  border: 0px;
}
